/* @import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap'); */

@font-face {
    font-family: 'DepartureMono';
    src: url('../assets/fonts/DepartureMono-Regular.woff2') format('woff2'),
         url('../assets/fonts/DepartureMono-Regular.woff') format('woff'),
         url('../assets/fonts/DepartureMono-Regular.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}


@font-face {
  font-family: "JetBrains Mono";
  src: url("../assets/fonts/JetBrainsMono-Regular.ttf") format("truetype");
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
}

* {
  margin: 0; padding: 0;
  text-transform: uppercase; 
  background-color: #0c0c0c; color: #ffbe66;
}

::-webkit-scrollbar { width: 0; height: 0; }

.layout { padding: 0 5%; } 
.layoutx { padding: 0 10%; } 
.container { display: flex; flex-direction: column; }
.jet-mono-regular { font-family: "JetBrains Mono"; font-size: 16px; line-height: 24px; }
.jet-mono-bold { font-family: "JetBrains Mono"; font-weight: bolder; letter-spacing: 1.4px; }
.departure-mono { color: #ffbe66; font-family: "DepartureMono"; font-size: 36px; line-height: 43.2px; }
.flex { display: flex; align-items: center; justify-content: center; flex-direction: column;}
hr { margin: 0.5rem 0 20px 0; opacity: 50%; }
h2 { color: #fff; font-size: 1.25rem; line-height: 1.5rem; margin: 2rem 0 1rem 0;}
h4 { color: #777; font-size: 14px; line-height: 19.6px; letter-spacing: 1.4px; margin-top: 1rem; }
h5 { font-size: 1rem; margin-top: 1rem; }
p { font-size: 18px; line-height: 21.6px; color: #fff; }
img { object-fit: cover; overflow: hidden; }

/* Header Section */
header { height: 100px; }

/* Hero Section */

.hero-main {
  width: 70%; 
  margin: 80px 0 48px 0;
  background-color: #0c0c0c; color: #fff;
}


.hero-sub p { width: 70%; float: left; color: #fff; opacity: 75%;}
.hero-sub h3 { width: 30%; float: inline-end; text-align: end; color: #fff;}

/* Featured Projects */

.featured-projects {
  margin-top: 4rem;
}

.projects-grid { display: grid; grid-template-columns: 1fr 1fr; gap: 2rem; }
.project { display: flex; flex-direction: column; margin-top: 3rem;}
.project img { max-width: 100%; height: auto; display: block; object-fit: cover; overflow: hidden; border-radius: 0.5rem; } 
.project1 { height: 95vh; width: 100%; }
.project12 { width: 50%; margin-top: 1rem;}

#proj-3 img { height: 95vh; }
#proj-2 img { height: 60vh; }
#proj-1 img { height: 75vh; }

.featured-projects p, i { font-size: 18px; line-height: 21.6px; color: #fff; }
.pro-p-regular { margin-top: 2rem; }
.pro-p-light { color: #fff; opacity: 75%; margin-top: 1rem; line-height: 1.6;} 

/* Footer Section */

footer { margin-top: 4rem; background-color: #ffbe66; }
footer p { margin-bottom: 0.5rem; text-transform: none; }

.foot-main {
  display: flex; flex-direction: row; justify-content: space-between;
  align-items: flex-start; padding: 3rem 5%+2rem;
  background: #ffbe66;
}

.foot-div { width: 30%; background-color: transparent; padding-left: 1rem;}

.foot-div h3 {
  margin-bottom: 1rem; 
  background-color: transparent; color: #B16F00;
  font-size: 16px; line-height: 19.2px;
}

.foot-div p, .foot-div li, .foot-div a, .foot-div ul, .foot-div span {
  background-color: transparent; color: #000;
  list-style: none;
}

.foot-div li { margin-bottom: 0.5rem; }

#socials { align-items: flex-start; padding-left: 8rem;}

#copy-logo {
  cursor: pointer;
  padding: 4px; border-radius: 4px;
  background-color: #fff; color: #ffbe66;
}

.foot-note { height: 70px; }
#foot-note { color: #fff; opacity: 75%; }

/* FeltNotSaid  */
.proj-details { display: flex; flex-direction: row; justify-content: space-around; gap: 3rem; margin-top: 2rem; }
.micro-desc { display: flex; gap: 2rem; justify-content: center; margin-top: 4rem; }
.mock-img2 { flex: 1; }
.mock-img2 img { max-width: 100%; border-radius: 8px; }
.micro-p { font-size: 1rem; text-align: left; }
.insight-cards { display: flex; gap: 2rem; justify-content: center; margin-top: 4rem; }
.card { flex: 1; background: #1a1a1a; padding: 2rem; border-radius: 10px; }
.card h3, p { background-color: transparent; }
.card h3 { color: #fff; font-size: 1.2rem; font-weight: 700; margin-bottom: 1rem; text-transform: uppercase; }
.card p { font-size: 1rem; line-height: 1.6; text-transform: none; background-color: transparent;}